@font-face {
	font-family: 'Golos Text';
	font-style: normal;
	font-weight: 400 900;
	font-display: swap;
	src: url('/fonts/Golos-Text.woff2') format('woff2'),
		url('/fonts/Golos-Text.woff') format('woff');
}
